<?xml version="1.0" encoding="UTF-8"?>  
<!-- 引入约束 -->  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:p="http://www.springframework.org/schema/p"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="  
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">  
    <!-- 将所需要的bean写到这里，被beans包裹着 -->  

        <bean id="stuDao" class="com.dao.StuDao"/>
       
        <bean id="stuService" class="com.service.StuService">
        <property name="stuDao" ref="stuDao"/>
        </bean>
        <bean id="stuAction" class="com.action.StuAction">
        <property name="stuService" ref="stuService"/>
        </bean>
   
     
     

</beans>   

     


