<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderMapper">
    <resultMap type="com.vo.Order" id="OrderResultMap">
        <id property="id" column="id"/>
        <result property="orderNo" column="orderNo" />
        <result property="orderTime" column="orderTime" />
         <result property="orderPerson" column="orderPerson" />
        
        <collection property="products" javaType="ArrayList"  
          column="id" ofType="com.vo.Product"
              select="com.mapper.ProductMapper.selectProductByOrderId" 
          >
           <id property="id" column="id"/>
           <result property="proNo" column="proNo" /> 
           <result property="proName" column="proName" />
           <result property="type" column="type" />  
           <result property="proNum" column="proNum" /> 
           <result property="price" column="price" />    
        </collection>
    </resultMap>
    
    
    <select id="selectOrderById"  parameterType="int"  resultMap="OrderResultMap">
        select * from tb_order where id=#{id}
    </select>
    
    <insert id="insertOrder" parameterType="com.vo.Order"  >
	insert into tb_order (orderNo,orderTime,orderPerson)
	values(#{orderNo},#{orderTime},#{orderPerson})
	</insert>
    





</mapper>