<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.StudentMapper">

	<resultMap type="com.vo.Student" id="studentResultMap">
		<id property="id" column="id" />
		<result property="stuNo" column="stuNo" />
		<result property="stuName" column="stuName" />
		<result property="className" column="className" />

		<!-- 一对一映射：association -->
		<association property="card" column="stuId"
			select="com.mapper.CardMapper.selectCardById" javaType="com.vo.Card" />
	</resultMap>

	<select id="selectStudentById" parameterType="int" resultMap="studentResultMap">
		select * from tb_student where id=#{id}
	</select>
	
	<!-- insert语句 -->
	<insert id="insertStudent" parameterType="com.vo.Student">
	    insert tb_student(stuNo,stuName,className,stuId) values(#{stuNo},#{stuName},#{className},#{stuId})
	</insert>
	
	
	
	
	<update id="updateStudentById" parameterType="com.vo.Student">
	    update tb_student set stuNo=#{stuNo},stuName=#{stuName},className=#{className},stuId=#{stuId} where id=#{id}
	</update>	
	
	



</mapper>
