<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.mapper.StudentMapper"> 

<insert id="insertStudent" parameterType="com.vo.Student"> 
insert into student(stuNo,stuName,sex,age,phone) 
values(#{stuNo},#{stuName},#{sex},#{age},#{phone})
</insert>



</mapper>
