<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.mapper.StudentMapper">

	<resultMap type="Student" id="stuResultMap">
		<id property="id" column="id" />
		<result property="stuNo" column="stuNo" />
		<result property="stuName" column="stuName" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<result property="phone" column="phone" />
	</resultMap>


	<select id="selectStudentById0" resultType="Student">
		select * from tb_student1 where id=5
	</select>

	<select id="selectAllStudent" resultMap="stuResultMap">
		select * from tb_student1
	</select>

	<select id="selectAllStudent1" parameterType="int" resultType="Student">
		select * from tb_student1 where id=#{id}
	</select>
	
	<select id="selectAllStudent2" resultType="Student">
		select * from tb_student1 
	</select>


</mapper>
