<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.CardMapper"> 

<select id="selectCardById" resultType="com.vo.Card">
	select * from tb_card where id=#{id}
</select>
<selectKey keyProperty="id" resultType="int" order="AFTER">
SELECTLAST_INSERT_ID() AS ID
</selectKey>





<!-- 插入一条数据 -->
<insert id="saveCard" parameterType="com.vo.Card">
insert into tb_card(code)
values (#{code})

</insert>
</mapper>
