<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.mapper.StudentMapper">
<resultMap id="studentResultMap" type="com.mapper.StudentMapper">
<id property="id" column="id"/>
<result property="name" column="name"/>
<result property="sex" column="sex"/>
<result property="age" column="age"/>
<association property="clazz" column="clazz_id" javaType="com.vo.Clazz"/>

<id property="id" column="id"/>
<result property="code" column="code"/>
<result property="name" column="name"/>
</resultMap>

<select id="selectStudentById" parameterType="int" resultType="studentResultMap">
select * from tb_student s,tb_clazz c 
where s.clazz_id=c.id and s.id=#{id}
</select>



<select id="selectStudentByClazzId" parameterType="int" resultType="studentResultMap">
select * from tb_student 
where clazz_id=#{id}
</select>
</mapper> 