<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.wanho.mapper.PositionMenuRelationsMapper" >
  <resultMap id="BaseResultMap" type="net.wanho.model.PositionMenuRelations" >
    <id column="RELATION_ID" property="relationId" jdbcType="INTEGER" />
    <result column="POSITION_ID" property="positionId" jdbcType="INTEGER" />
    <result column="MENU_ID" property="menuId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RELATION_ID, POSITION_ID, MENU_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.wanho.model.PositionMenuRelationsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from position_menu_relations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from position_menu_relations
    where RELATION_ID = #{relationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from position_menu_relations
    where RELATION_ID = #{relationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.wanho.model.PositionMenuRelationsExample" >
    delete from position_menu_relations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.wanho.model.PositionMenuRelations" >
    <selectKey resultType="java.lang.Integer" keyProperty="relationId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into position_menu_relations (POSITION_ID, MENU_ID)
    values (#{positionId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.wanho.model.PositionMenuRelations" >
    <selectKey resultType="java.lang.Integer" keyProperty="relationId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into position_menu_relations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="positionId != null" >
        POSITION_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.wanho.model.PositionMenuRelationsExample" resultType="java.lang.Integer" >
    select count(*) from position_menu_relations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update position_menu_relations
    <set >
      <if test="record.relationId != null" >
        RELATION_ID = #{record.relationId,jdbcType=INTEGER},
      </if>
      <if test="record.positionId != null" >
        POSITION_ID = #{record.positionId,jdbcType=INTEGER},
      </if>
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update position_menu_relations
    set RELATION_ID = #{record.relationId,jdbcType=INTEGER},
      POSITION_ID = #{record.positionId,jdbcType=INTEGER},
      MENU_ID = #{record.menuId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.wanho.model.PositionMenuRelations" >
    update position_menu_relations
    <set >
      <if test="positionId != null" >
        POSITION_ID = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=INTEGER},
      </if>
    </set>
    where RELATION_ID = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.wanho.model.PositionMenuRelations" >
    update position_menu_relations
    set POSITION_ID = #{positionId,jdbcType=INTEGER},
      MENU_ID = #{menuId,jdbcType=INTEGER}
    where RELATION_ID = #{relationId,jdbcType=INTEGER}
  </update>
</mapper>