<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.CardMapper"> 

<select id="selectCardById" resultType="com.vo.Card">
	select * from tb_card where id=#{id}
</select>






<!-- 插入一条数据 -->
<insert id="saveCard" parameterType="com.vo.Card">
<selectKey keyProperty="id" resultType="int" order="AFTER">
SELECT LAST_INSERT_ID() AS ID
</selectKey>
insert into tb_card(code)
values (#{code})
</insert>



<delete id="delectCardById" parameterType="int" > 
DELETE FROM tb_card
WHERE id=#{id};
</delete>








<!-- updateCard -->
<update id="updateCard" parameterType="com.vo.Card"> 
update tb_card SET code=#{code} WHERE id=#{id}
</update>


</mapper>
