<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ClazzMapper">
   
    <resultMap type="com.vo.Clazz" id="clazzResultMap">
        <id property="id" column="id"/>
        <result property="code" column="code" />
        <result property="name" column="name" />
        
        <collection property="students" javaType="ArrayList"  column="id" ofType="com.vo.Student"
            select="com.mapper.StudentMapper.selectStudentByClazzId" fetchType="lazy" >
           <id property="id" column="id"/>
           <result property="name" column="name" /> 
           <result property="sex" column="sex" />
           <result property="age" column="age" />     
        </collection>
    </resultMap>
    
    
     <select id="selectClazzById"  parameterType="int"  resultMap="clazzResultMap">
        select * from tb_clazz where id=#{id}
    </select>
    
    
    <insert id="insertClazz" parameterType="com.vo.Clazz" useGeneratedKeys="true">
    <selectKey keyProperty="id" resultType="int" order="AFTER">
     SELECT LAST_INSERT_ID() AS ID
    </selectKey>
    insert into tb_clazz (code,name)
    values(#{code},#{name})
    
    </insert>
    
    
    <delete id="deleteClazzById" parameterType="int">
        delete from tb_clazz where id=#{id}
    </delete>
    
</mapper>