<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.StudentMapper">

	<resultMap type="com.vo.Student" id="studentResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<!-- 多对1 -->
		<association property="clazz"  javaType="com.vo.Clazz">
			<id property="id" column="id" />
			<result property="code" column="code" />
			<result property="name" column="name" />
		</association>
	</resultMap>

	<select id="selectStudentById" parameterType="int" resultMap="studentResultMap">
        select * from tb_student s,tb_clazz c
        where s.clazz_id=c.id and s.id=#{id}
	</select>

	<select id="selectStudentByClazzId" parameterType="int"
		resultMap="studentResultMap">
		select * from tb_student where clazz_id=#{clazz_id}
	</select>
	
	
	<insert id="insertStudent" parameterType="com.vo.Student"  >
	insert into tb_student (name,sex,age,clazz_id)
	values(#{name},#{sex},#{age},#{clazz_id})
	</insert>
	
	
	<delete id="deleteStudentById" parameterType="int">
	delete from tb_student where id=#{id}
	</delete>



</mapper>
